#header{
	background-image:url(content/img/header.jpg);
	background-repeat:no-repeat;
	background-position:center;
	height:250px;
}
#header h1{
	margin:0 !important;
	padding-top:2.5em;
	text-align:center;
	font-weight:bold;
	font-size:400%;
	color:white;
	text-shadow: 0 0 5px black, 0 0 15px black;
}
#registration{
	border:1px solid black;
	height:700px;
}
#main{
	margin-top:1em;
	margin-bottom:1em;
}
#login{
	border:1px solid black;
	padding:2em;
}
#login td {
	padding: 5px 10px;
} 
#news{
	border:1px solid black;
	margin-top:1em;
	padding:1.5em;
	text-align:center;
}
#footer{
	background-color:black;
	height:400px;
}
#content{
	background-color:blue;
	/*height:700px;*/
}
#setAlg{
	background-color:yellow;
	height:700px;
}
#setDet{
	background-color:lime;
	height:700px;
}
#SearchUpload{
	background-color:yellow;
	height:50px;
	margin:0 -15px;
}
#Ordner{
	background-color: brown;
	height:650px;
}
#Pfad{
	background-color:lime;
	height:50px;
}
#Dateien{
	background-color:lightblue;
	height:600px;
}